# Schools' Analysis

* Overall, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually  underperformed compared to schools with smaller budgets. (around 74% overall passing in schools with higher budgets (\$645-675) vs 95% in schools spending less than \$585 per student.)

* Smaller and medium sized schools dramatically out-performed large sized schools, the difference is more obvious in terms of passing math performances (Around 94% passing vs 70%).

* Overall, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to validate if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

# Importing dependensies and csv files

In [4]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
school_data_path = "Resources/schools_complete.csv"
student_data_path = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_path)
student_data = pd.read_csv(student_data_path)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
#school_data_complete.head()
#school_data_complete.columns
#school_data_complete.head()
#student_data["math_score"]

In [6]:
#Return Series with number of distinct observations over requested axis.
total_schools = school_data_complete['school_name'].nunique()
total_students = school_data_complete['Student ID'].nunique()
total_budget = school_data['budget'].sum()
average_math_score = student_data['math_score'].mean()
average_reading_score = student_data['reading_score'].mean()
average_overall_score = (average_math_score + average_reading_score)/2

In [7]:
math_passing_filter = student_data[student_data['math_score'] >= 70]
total_math_passed = math_passing_filter['math_score'].count()
percent_math_passed = (total_math_passed/total_students)*100

In [8]:
reading_passing_filter = student_data[student_data['reading_score'] >= 70]
total_reading_passed = reading_passing_filter['reading_score'].count()
percent_reading_passed = (total_reading_passed/total_students)*100

In [9]:
#Creating a DataFrame to hold above results and formatting the displayed data
district_summary = pd.DataFrame([[total_schools,total_students,\
                                  total_budget,\
                                  average_math_score,average_reading_score,\
                                  percent_math_passed,percent_reading_passed,\
      average_overall_score]], columns = ['Total Schools','Total Students',\
                                          'Total Budget','Average Math Score',\
                                          'Average Reading Score','%Passing Math',\
                                          '%Passing Reading','Overall Passing Rate'])
district_summary["Total Students"] = district_summary["Total Students"].astype(float).map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.6f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.6f}".format)
district_summary["%Passing Math"] = district_summary["%Passing Math"].map("{:,.6f}".format)
district_summary["%Passing Reading"] = district_summary["%Passing Reading"].map("{:,.6f}".format)
district_summary["Overall Passing Rate"] = district_summary["Overall Passing Rate"].map("{:,.6f}".format)

In [10]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}

# High level snapshot of the District's key metrics

In [11]:
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,Overall Passing Rate
0,15,"39,170.0","$24,649,428.00",78.985371,81.877840,74.980853,85.805463,80.431606

## School Summary

**Create an overview table that summarizes key metrics about each school, including:**
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [12]:
#school_data_complete.columns

In [13]:
#Observations over requested axis.
school_names = school_data['school_name']
school_type = school_data['type']
school_data_complete_group = school_data_complete.groupby("School ID")

In [14]:
total_students_per_school = school_data_complete_group['Student ID'].count()
total_school_budget = school_data['budget']

In [15]:
per_student_budget = school_data['budget']/school_data['size']

In [16]:
total_math_score = school_data_complete_group['math_score'].sum()
average_math_score_ps = total_math_score/total_students_per_school

In [17]:
total_reading_score = school_data_complete_group['reading_score'].sum()
average_reading_score_ps = total_reading_score/total_students_per_school

In [18]:
total_math_passed = school_data_complete[school_data_complete['math_score'] >= 70]
math_passed_per_school = total_math_passed.groupby("School ID")['Student ID'].count()
percent_math_passed_ps = (math_passed_per_school/total_students_per_school)*100

In [19]:
total_reading_passed = school_data_complete[school_data_complete['reading_score'] >= 70]
reading_passed_per_school = total_reading_passed.groupby("School ID")['Student ID'].count()
percent_reading_passed_ps = (reading_passed_per_school/total_students_per_school)*100

In [20]:
percent_overall_passed = (percent_math_passed_ps + percent_reading_passed_ps)/2

In [69]:
#Creating a DataFrame to hold above results and formatting the displayed data
school_summary = pd.DataFrame({'Schools':school_names,'School Type':school_type,\
                               'Total Students':total_students_per_school,\
                               'Total School Budget':total_school_budget,\
                               'Per Student Budget':per_student_budget,\
                               'Average Math Score':average_math_score_ps,\
                               'Average Reading Score':average_reading_score_ps,\
                               '%Passing Math':percent_math_passed_ps,\
                               '%Passing Reading':percent_reading_passed_ps,\
                               'Overall Passing Rate':percent_overall_passed})

school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,.2f}".format)
school_summary["Average Math Score"] = school_summary["Average Math Score"].map("{:,.6f}".format)
school_summary["Average Reading Score"] = school_summary["Average Reading Score"].map("{:,.6f}".format)
school_summary["%Passing Math"] = school_summary["%Passing Math"].map("{:,.6f}".format)
school_summary["%Passing Reading"] = school_summary["%Passing Reading"].map("{:,.6f}".format)
school_summary["Overall Passing Rate"] = school_summary["Overall Passing Rate"].map("{:,.6f}".format)
school_summary["Average Math Score"]=school_summary["Average Math Score"].astype(str).astype(float)
school_summary["Average Reading Score"] = school_summary["Average Reading Score"].astype(str).astype(float)
school_summary["%Passing Math"] = school_summary["%Passing Math"].astype(str).astype(float)
school_summary["%Passing Reading"] = school_summary["%Passing Reading"].astype(str).astype(float)
school_summary["Overall Passing Rate"] = school_summary["Overall Passing Rate"].astype(str).astype(float)

In [73]:
# With proper formatting 
school_summary_fmt = school_summary[["Schools","Total Students","Total School Budget","Per Student Budget",\
                                     "Average Math Score","Average Math Score","Average Reading Score","%Passing Math","%Passing Reading",\
                                     "Overall Passing Rate"]]
school_summary_fmt["Per Student Budget"] = school_summary["Per Student Budget"].map("${:,.2f}".format)

## Key metrics of each school (School Summary)

In [76]:
school_summary_fmt.head()

,Schools,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,Overall Passing Rate
0,Huang High School,2917,"$1,910,635.00",$655.00,76.629414,76.629414,81.182722,65.683922,81.316421,73.500171
1,Figueroa High School,2949,"$1,884,411.00",$639.00,76.711767,76.711767,81.158020,65.988471,80.739234,73.363852
2,Shelton High School,1761,"$1,056,600.00",$600.00,83.359455,83.359455,83.725724,93.867121,95.854628,94.860875
3,Hernandez High School,4635,"$3,022,020.00",$652.00,77.289752,77.289752,80.934412,66.752967,80.862999,73.807983
4,Griffin High School,1468,"$917,500.00",$625.00,83.351499,83.351499,83.816757,93.392371,97.138965,95.265668

## Top Performing Schools (By Passing Rate)

In [77]:
school_summary_fmt.reset_index(drop=True).set_index('Schools').\
sort_values(by=['Overall Passing Rate'],ascending = False).head(5)

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,Overall Passing Rate
Schools,,,,,,,,,
Cabrera High School,1858,"$1,081,356.00",$582.00,83.061895,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,1635,"$1,043,130.00",$638.00,83.418349,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,962,"$585,858.00",$609.00,83.839917,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,1468,"$917,500.00",$625.00,83.351499,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,2283,"$1,319,574.00",$578.00,83.274201,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By Passing Rate)

In [78]:
school_summary_fmt.reset_index(drop=True).set_index('Schools').\
sort_values(by=['Overall Passing Rate']).head(5)

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,Overall Passing Rate
Schools,,,,,,,,,
Rodriguez High School,3999,"$2,547,363.00",$637.00,76.842711,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,2949,"$1,884,411.00",$639.00,76.711767,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,2917,"$1,910,635.00",$655.00,76.629414,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,4761,"$3,094,650.00",$650.00,77.072464,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,2739,"$1,763,916.00",$644.00,77.102592,77.102592,80.746258,68.309602,79.299014,73.804308

In [79]:
#school_data_complete.columns
#school_summary.dtypes

## Scores by Grade

**Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.**

Create a pandas series for each grade.

Group each series by school

Combine the series into a dataframe

In [80]:
score_9thgrade = school_data_complete.loc[school_data_complete["grade"]=="9th"]
ninth_grade = score_9thgrade.groupby("School ID")[['math_score','reading_score']].mean()

In [81]:
score_10thgrade = school_data_complete.loc[school_data_complete["grade"]=="10th"]
tenth_grade = score_10thgrade.groupby("School ID")[['math_score','reading_score']].mean()

In [82]:
score_11thgrade = school_data_complete.loc[school_data_complete["grade"]=="11th"]
eleventh_grade = score_11thgrade.groupby("School ID")[['math_score','reading_score']].mean()

In [83]:
score_12thgrade = school_data_complete.loc[school_data_complete["grade"]=="12th"]
twelth_grade = score_12thgrade.groupby("School ID")[['math_score','reading_score']].mean()

In [84]:
math_score_bygrade = pd.DataFrame({'Schools':school_names,"9th":ninth_grade["math_score"],"10th":tenth_grade["math_score"],\
                                  "11th":eleventh_grade["math_score"],"12th":twelth_grade["math_score"]})
math_score_bygrade["9th"] = math_score_bygrade["9th"].map("{:,.6f}".format)
math_score_bygrade["10th"] = math_score_bygrade["10th"].map("{:,.6f}".format)
math_score_bygrade["11th"] = math_score_bygrade["11th"].map("{:,.6f}".format)
math_score_bygrade["12th"] = math_score_bygrade["12th"].map("{:,.6f}".format)

## Math Scores by Grade

In [85]:
math_score_bygrade.reset_index(drop=True).set_index('Schools').sort_values(by=['Schools'])

                             9th       10th       11th       12th
Schools
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

**Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school:**

Create a pandas series for each grade.

Group each series by school

Combine the series into a dataframe

In [86]:
reading_score_bygrade = pd.DataFrame({'Schools':school_names,"9th":ninth_grade["reading_score"],"10th":tenth_grade["reading_score"],\
                                  "11th":eleventh_grade["reading_score"],"12th":twelth_grade["reading_score"]})
reading_score_bygrade["9th"] = reading_score_bygrade["9th"].map("{:,.6f}".format)
reading_score_bygrade["10th"] = reading_score_bygrade["10th"].map("{:,.6f}".format)
reading_score_bygrade["11th"] = reading_score_bygrade["11th"].map("{:,.6f}".format)
reading_score_bygrade["12th"] = reading_score_bygrade["12th"].map("{:,.6f}".format)

## Reading Score by Grade

In [87]:
reading_score_bygrade.reset_index(drop=True).set_index('Schools').sort_values(by=['Schools'])

                             9th       10th       11th       12th
Schools
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## School performances based on average spending ranges of schools per student

**Create a table that breaks down school performances based on average Spending Ranges (Per Student). Include in the table each of the following:**
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [88]:
#school_summary['Per Student Budget'].max()
#school_summary['Per Student Budget'].min()
#school_summary.columns
#school_data_complete

In [89]:
#Using 4 bins to group school spending.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [90]:
school_summary['Spending Ranges(Per Student)'] = pd.cut(school_summary['Per Student Budget'],spending_bins,labels=group_names)

In [91]:
avg_math_score_by_spending = school_summary.groupby('Spending Ranges(Per Student)')['Average Math Score'].mean()
avg_reading_score_by_spending = school_summary.groupby('Spending Ranges(Per Student)')['Average Reading Score'].mean()
pct_passed_math_by_spending = school_summary.groupby('Spending Ranges(Per Student)')['%Passing Math'].mean()
pct_passed_reading_by_spending = school_summary.groupby('Spending Ranges(Per Student)')['%Passing Reading'].mean()
overall_passing_by_spending = (pct_passed_math_by_spending + pct_passed_reading_by_spending)/2

In [92]:
scores_by_school_spending = pd.DataFrame({'Average Math Score':avg_math_score_by_spending,\
                                         'Average Reading Score':avg_reading_score_by_spending,\
                                         '%Passing Math':pct_passed_math_by_spending,\
                                          '%Passing Reading':pct_passed_reading_by_spending,\
                                          'Overall Passing Rate':overall_passing_by_spending})
scores_by_school_spending['Average Math Score']=scores_by_school_spending['Average Math Score'].map('{:.6f}'.format)
scores_by_school_spending['Average Reading Score']=scores_by_school_spending['Average Reading Score'].map('{:.6f}'.format)
scores_by_school_spending['%Passing Math']=scores_by_school_spending['%Passing Math'].map('{:.6f}'.format)
scores_by_school_spending['%Passing Reading']=scores_by_school_spending['%Passing Reading'].map('{:.6f}'.format)
scores_by_school_spending['Overall Passing Rate']=scores_by_school_spending['Overall Passing Rate'].map('{:.6f}'.format)

## Scores by School Spending

In [93]:
scores_by_school_spending

,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,Overall Passing Rate
Spending Ranges(Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065573
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## School Performances based on the size of the school

**Create a table that breaks down school performances based on the size of the school. Include in the table each of the following:**
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [94]:
#Using 3 bins to group school sizes.
size_bins = [0, 1000, 2000, 5000]
size_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [95]:
school_summary['School Size'] = pd.cut(school_summary['Total Students'],size_bins,labels=size_names)

In [96]:
avg_math_score_by_size = school_summary.groupby('School Size')['Average Math Score'].mean()
avg_reading_score_by_size = school_summary.groupby('School Size')['Average Reading Score'].mean()
pct_passed_math_by_size = school_summary.groupby('School Size')['%Passing Math'].mean()
pct_passed_reading_by_size = school_summary.groupby('School Size')['%Passing Reading'].mean()
overall_passing_by_size = (pct_passed_math_by_size + pct_passed_reading_by_size)/2

In [97]:
scores_by_school_size = pd.DataFrame({'Average Math Score':avg_math_score_by_size,\
                                         'Average Reading Score':avg_reading_score_by_size,\
                                         '%Passing Math':pct_passed_math_by_size,\
                                          '%Passing Reading':pct_passed_reading_by_size,\
                                          'Overall Passing Rate':overall_passing_by_size})
scores_by_school_size['Average Math Score']=scores_by_school_size['Average Math Score'].map('{:.6f}'.format)
scores_by_school_size['Average Reading Score']=scores_by_school_size['Average Reading Score'].map('{:.6f}'.format)
scores_by_school_size['%Passing Math']=scores_by_school_size['%Passing Math'].map('{:.6f}'.format)
scores_by_school_size['%Passing Reading']=scores_by_school_size['%Passing Reading'].map('{:.6f}'.format)
scores_by_school_size['Overall Passing Rate']=scores_by_school_size['Overall Passing Rate'].map('{:.6f}'.format)

## Scores by School Size

In [98]:
scores_by_school_size

,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929844,93.550225,96.099436,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766635,76.364998

## School Performances based on the type of school

**Create a table that breaks down school performances based on the type of the school. Include in the table each of the following:**
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [99]:
avg_math_by_type = school_summary.groupby('School Type')['Average Math Score'].mean()
avg_reading_by_type = school_summary.groupby('School Type')['Average Reading Score'].mean()
pct_passed_math_by_type = school_summary.groupby('School Type')['%Passing Math'].mean()
pct_passed_reading_by_type = school_summary.groupby('School Type')['%Passing Reading'].mean()
overall_passing_by_type = school_summary.groupby('School Type')['Overall Passing Rate'].mean()

In [100]:
scores_by_school_type = pd.DataFrame({'Average Math Score':avg_math_by_type,\
                                         'Average Reading Score':avg_reading_by_type,\
                                         '%Passing Math':pct_passed_math_by_type,\
                                          '%Passing Reading':pct_passed_reading_by_type,\
                                          'Overall Passing Rate':overall_passing_by_type})
scores_by_school_type['Average Math Score']=scores_by_school_type['Average Math Score'].map('{:.6f}'.format)
scores_by_school_type['Average Reading Score']=scores_by_school_type['Average Reading Score'].map('{:.6f}'.format)
scores_by_school_type['%Passing Math']=scores_by_school_type['%Passing Math'].map('{:.6f}'.format)
scores_by_school_type['%Passing Reading']=scores_by_school_type['%Passing Reading'].map('{:.6f}'.format)
scores_by_school_type['Overall Passing Rate']=scores_by_school_type['Overall Passing Rate'].map('{:.6f}'.format)

## Scores by School Type

In [101]:
scores_by_school_type

,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757